.square{
    width: 15%;
    background-color: #ef4444;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    

}
.square>img{
    width: 200px;
    border-radius: 5px;
}
.square>.titulo,.subtitulo{
    color: #ffffff;
}
