.container {
 max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.carouselWrapper {
  margin-top: 30px;
}

.slick-prev, .slick-next {
  background-color: #333;
  border-radius: 50%;
  color: rgb(184, 24, 24);
  font-size: 20px;
  padding: 10px;
  z-index: 10;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.buttonWrapper {
  @apply flex justify-center mt-6;
}

.seeAllButton {
  @apply bg-red-500 text-white px-6 py-2 rounded-lg hover:bg-red-600 transition duration-300;
}
