.card {
  @apply bg-red-500 rounded-lg text-white p-6 text-center flex flex-col items-center;
  height: 300px;        /* altura definida para todos os cards */
  max-width: 250px;     /* largura máxima definida */
  width: 100%;
}

.cardImage {
  @apply bg-white rounded mb-4;
  width: 100%;
  height: 140px;        /* altura fixa para a área de imagem */
}

.title {
  @apply text-lg font-bold;
}

.description {
  @apply;
}
