@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

  html, body, #root {
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.paginacao-container { 
  display: flex;
  justify-content: center;
  align-items: center;      
  height: 100%;        
}

.sobre {
  overflow-y: auto;
  height: auto;
  scrollbar-width: thin;
  scrollbar-color: #6c5ce7 #f1f1f1;
  
}

.code {
  font-family:  'Poppins', sans-serif !important;
}

.Carousel{
    margin-top: 6rem;
    width: 75%;
    
}

.footer {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.footer > div {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.login-page {
  font-family: 'Arial', sans-serif;
} 

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}